/**
 * Any new styles for the MC3 theme should go in this file
 */
body {
	color: #878a8f;
}

body > div {
	font-size: 16px;
	font-size: 1.6rem;
}

a {
	color: #3a84b6;
	text-decoration: none;
	border: none;
}

.entry {
	font-size: 14px;
	font-size: 1.4rem;
}

a:hover, 
a:focus {
	color: #00274c;
	text-decoration: underline;
	border: none;
}

.site-header, 
.site-footer {
	background: #00274c;
	min-height: 0;
}

.site-header > .wrap {
	padding: 0;
}

.site-header .title-area {
	width: 1000px;
}

.header-image .site-title > a {
	min-height: 75px;
	background-size: contain !important;
}

.no-backgroundsize .site-title > a {
	background-image: url(http://mc3.t321.biz/wp-content/uploads/sites/23/2016/08/mc3-logo-1-768x77.png) !important;
}

.site-header .widget-area {
	width: 200px;
}

.home .site-inner {
	padding-top: 0;
}

.front-main img {
	display: block;
	margin: 0 auto;
	width: 100%;
	height: auto;
}

.nav-primary {
	border: none;
	background: #3a84b6;
	width: 100%;
	max-width: 100%;
}

.nav-primary .wrap {
	padding: 0;
	margin: 0 auto;
	width: 100%;
	max-width: 1200px;
}

.nav-primary .genesis-nav-menu {
	text-align: right;
}

.nav-primary .genesis-nav-menu a {
	color: #fff;
	padding: 6px;
	padding: .6rem;
	font-size: 14px;
	font-size: 1.4rem;
	text-transform: none;
	font-weight: normal;
}

.nav-primary .genesis-nav-menu .sub-menu {
	border: none;
}

.nav-primary .genesis-nav-menu .sub-menu a {
	background: #2c6fa0;
	border: none;
}

.nav-primary .genesis-nav-menu .menu-item-has-children > a:after {
	content: "\f347";
	font-family: 'dashicons';
	display: inline-block;
	padding: 0 6px;
}

.front-main .widget_sp_image > .widget-wrap, 
.front-main .home-slide {
	position: relative;
	margin: 0;
}

.front-main .widget_sp_image .widget_sp_image-description, 
.front-main .home-slide figcaption {
	position: absolute;
	bottom: 10%;
	right: 6%;
	width: 25%;
	color: #00274c;
}

/*.front-main .widget_sp_image-description .button {
	background: #3a84b6;
	text-decoration: none;
}*/

.front-features > .wrap {
	background: #00274c;
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
}

.front-features .widget {
	display: block;
	color: #ccc;
	width: 33.3333%;
	-ms-flex: 1 1 300px;
	flex: 1 1 300px;
	min-width: 200px;
	vertical-align: top;
	padding: 20px;
	text-align: center;
	font-size: 12px;
	font-size: 1.2rem;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-features .widget {
	width: 33%;
	display: inline-block;
}

.front-features .widget .entry {
	padding: 20px;
	padding: 2rem;
	margin-bottom: 20px;
	margin-bottom: 2rem;
	font-size: 12px;
	font-size: 1.2rem;
}

.front-features .widget .entry-title {
	font-size: 16px;
	font-size: 1.6rem;
	color: #fff;
}

.front-features .widget a {
	color: #fff;
	border: none;
	text-decoration: none;
}

.front-features .widget a.read-more {
	font-size: 14px;
	font-size: 1.4rem;
	white-space: nowrap;
}

.front-features .widget a:hover, 
.front-features .widget a:focus {
	color: #fff;
	text-decoration: underline;
}

.front-features .widget_wp_views .widget-wrap > a {
	display: none;
}

.front-secondary .widget {
	border: 1px solid #cccccc;
	padding: 20px;
	margin: 20px;
}

.front-secondary form {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
}

.front-secondary .gform_wrapper .gform_heading {
	flex: 1 1 300px;
	max-width: 100%;
	width: auto;
}

.front-secondary .gform_wrapper .gform_body {
	flex: 2 2 500px;
	max-width: 100%;
	width: auto;
}

.front-secondary .gform_wrapper .gform_footer {
	flex: 1 1 100%;
	max-width: 100%;
	align-self: flex-end;
	text-align: right;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-secondary form {
	vertical-align: top;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-secondary .gform_wrapper .gform_heading {
	vertical-align: top;
	display: inline-block;
	width: 30%;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-secondary .gform_wrapper .gform_body {
	vertical-align: top;
	display: inline-block;
	width: 68%;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .front-secondary .gform_wrapper .gform_footer {
	display: block;
	margin-right: 0;
	margin-left: auto;
	width: 25%;
}

.site-footer > .wrap {
	display:flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-content: flex-start;
	align-items: flex-start;
}

.site-footer .widget {
	display: block;
	font-size: 12px;
	font-size: 1.2rem;
	line-height: 1.2;
	color: #ccc;
	width: 33.3333%;
	-ms-flex: 3 1 33.333%;
	flex: 3 1 30%;
	min-width: 200px;
	vertical-align: top;
	padding: 20px;
}

.site-footer .widget:last-child {
	flex: 3 3 100%;
}

.no-flexbox.no-flexboxlegacy.no-flexboxtweener .site-footer .widget {
	display: inline-block;
	width: 32%;
}

.site-footer .widget a {
	color: #666;
}

.site-footer p {
	margin-bottom: 12px;
	margin-bottom: 1.2rem;
}

.sidebar-primary {
	padding-right: 0;
	padding-top: 60px;
	width: 200px;
	width: 20rem;
}

.content {
	width: 1000px;
	width: 100rem;
	padding-left: 60px;
	padding-left: 6rem;
}

.full-width-content .content {
	padding: 0;
	max-width: 960px;
	max-width: 96rem;
	margin-left: auto;
	margin-right: auto;
	float: none;
}

.home.full-width-content .content {
	max-width: 100%;
}

.breadcrumb {
	margin-bottom: 20px;
	margin-bottom: 2rem;
	font-size: 12px;
	font-size: 1.2rem;
	text-transform: uppercase;
	color: #3a84b6;
}

.breadcrumb a {
	text-decoration: none;
}

.breadcrumb a:hover, 
.breadcrumb a:focus {
	text-decoration: underline;
}

.content .entry-title, 
.entry-header h2.section-title {
	color: #00274c;
	font-weight: 400;
	border: none;
	padding-top: 0;
	font-size: 36px;
	font-size: 3.6rem;
}

.content h2, 
.entry-header .page-title, 
.pcp-menu #related-navigation a {
	color: #878a8f;
	border-top: 1px solid #878a8f;
	font-size: 21px;
	font-size: 2.1rem;
	padding-top: 8px;
	padding-top: .8rem;
	font-weight: 300;
}

.entry-header .page-title {
	border: none;
	padding-top: 0;
}

.content .entry {
	font-weight: 300;
}

.content .entry a {
	font-weight: 700;
}

h3.biography-title {
	color: #3a84b6;
	font-weight: 700;
	font-size: 14px;
	font-size: 1.4rem;
	margin-bottom: 0;
	margin-top: 20px;
	margin-top: 2rem;
}

ul.biography-jobs, 
ul.biography-jobs li {
	font-style: italic;
	list-style: none;
	padding: 0;
	margin: 0;
}

ul.biography-jobs {
	margin-bottom: 20px;
	margin-bottom: 2rem;
}

button, 
input[type="button"], 
input[type="reset"], 
input[type="submit"], 
.button, 
body .gform_wrapper.gf_browser_ie .gform_footer input.button {
	background: #3a84b6;
	text-decoration: none;
	padding: 8px 24px;
	padding: .8rem 2.4rem;
	border-radius: 5px;
	font-weight: normal;
	font-size: 20px;
	font-size: 2rem;
}

.front-main .button {
	display: block;
	width: 100%;
	text-align: center;
}

button:hover, 
input[type="button"]:hover, 
input[type="reset"]:hover, 
input[type="submit"]:hover, 
.button:hover, 
body .gform_wrapper.gf_browser_ie .gform_footer input.button:hover,  
button:focus, 
input[type="button"]:focus, 
input[type="reset"]:focus, 
input[type="submit"]:focus, 
.button:focus, 
body .gform_wrapper.gf_browser_ie .gform_footer input.button:focus {
	background: #00274c;
}

/**
 * Related Navigation Menu
 */
#related-navigation {
	font-size: 21px;
	font-size: 2.1rem;
}

#related-navigation a {
	display: block;
	width: 100%;
	color: #878a8f;
	text-decoration: none;
	border: none;
	font-weight: 300;
}

#related-navigation .children, 
.pcp-menu #related-navigation .sub-menu, 
.pcp-menu #related-navigation .sub-menu a {
	font-size: 14px;
	font-size: 1.4rem;
	display: none;
	border: none;
}

.pcp-menu #related-navigation .sub-menu, 
.pcp-menu #related-navigation .sub-menu a {
	display: block;
}

#related-navigation .children a {
	padding-bottom: 8px;
	padding-bottom: .8rem;
}

#related-navigation .children a, 
.pcp-menu #related-navigation .sub-menu a {
	font-weight: 700;
	color: #00274c;
}

#related-navigation .current_page_item .children, 
#related-navigation .current_page_ancestor .children {
	display: block;
}

#related-navigation .current_page_item > a {
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+25,2c6fa0+50,ffffff+75&1+1,0.2+34,0.2+68,0+100 */
	background: -moz-linear-gradient(left,  rgba(255,255,255,1) 1%, rgba(255,255,255,0.42) 25%, rgba(179,203,221,0.2) 34%, rgba(44,111,160,0.2) 50%, rgba(196,215,228,0.2) 68%, rgba(255,255,255,0.16) 75%, rgba(255,255,255,0) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(255,255,255,1) 1%,rgba(255,255,255,0.42) 25%,rgba(179,203,221,0.2) 34%,rgba(44,111,160,0.2) 50%,rgba(196,215,228,0.2) 68%,rgba(255,255,255,0.16) 75%,rgba(255,255,255,0) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(255,255,255,1) 1%,rgba(255,255,255,0.42) 25%,rgba(179,203,221,0.2) 34%,rgba(44,111,160,0.2) 50%,rgba(196,215,228,0.2) 68%,rgba(255,255,255,0.16) 75%,rgba(255,255,255,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=1 ); /* IE6-9 */
}

ul.contact-county-list, 
ul.contact-county-list li {
	list-style: none;
}

.contact-county-list {
	columns: 4 150px;
	column-gap: 2rem;
}

.child-pages-list h4 {
	font-size: 14px;
	font-size: 1.4rem;
	font-weight: 700;
}

.child-pages-list h4 a {
	color: #00274c;
}

.child-pages-list .reference-card-list a {
	color: #3a84b6;
}

.child-pages-list ul.reference-card-list, 
.child-pages-list ul.reference-card-list li {
	list-style: none;
	padding-left: 0;
	margin-left: 0;
}

.views-template-template-for-counties .entry-header {
	max-width: 600px;
}

.views-template-template-for-counties .county-contact-info {
	max-width: 600px;
}

.views-template-template-for-counties .section-title {
	margin-bottom: 20px;
	margin-bottom: 2rem;
}

.views-template-template-for-counties .page-title {
	font-weight: 700;
}

.views-template-template-for-counties .contact-name {
	margin-bottom: 0;
}

.views-template-template-for-counties .contact-summary-header {
	clear: both;
}

@media only screen and (max-width: 1020px) {
	.sidebar-primary, 
	.content, 
	.full-width-content .content {
		width: 100%;
		max-width: 100%;
		padding-left: 20px;
		padding-left: 2rem;
		padding-right: 20px;
		padding-right: 2rem;
	}
	
	.home.full-width-content .content {
		padding-left: 0;
		padding-right: 0;
	}
}

@media only screen and (max-width: 880px) {
	.site-inner, 
	.wrap {
		padding-left: 0;
		padding-right: 0;
	}
	
	.front-main .widget_sp_image .widget_sp_image-description, 
	.front-main .home-slide figcaption {
		background: rgba( 255, 255, 255, .6 );
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		width: 100%;
		padding: 20px;
	}
	
	.site-header .title-area {
		max-width: 100%;
	}
	
	.header-image .site-title > a {
		width: 100%;
		padding-top: 10.01926782273603%;
		min-height: 0;
	}
}

@media only screen and (max-width: 600px) {
	.front-main .widget_sp_image .widget_sp_image-description, 
	.front-main .home-slide figcaption {
		background: #fff;
		position: static;
	}
}

.clear {
	float: none;
	clear: both;
}