@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?jwhs68');
  src:  url('fonts/icomoon.eot?jwhs68#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?jwhs68') format('truetype'),
    url('fonts/icomoon.woff?jwhs68') format('woff'),
    url('fonts/icomoon.svg?jwhs68#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-clinical .path1:before {
  content: "\e900";
  color: rgb(0, 180, 175);
}
.icon-clinical .path2:before {
  content: "\e901";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-clinical .path3:before {
  content: "\e902";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-clinical .path4:before {
  content: "\e903";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-educational .path1:before {
  content: "\e904";
  color: rgb(0, 180, 175);
}
.icon-educational .path2:before {
  content: "\e905";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-educational .path3:before {
  content: "\e906";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-educational .path4:before {
  content: "\e907";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-request .path1:before {
  content: "\e908";
  color: rgb(0, 180, 175);
}
.icon-request .path2:before {
  content: "\e909";
  margin-left: -1em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path1:before {
  content: "\e90a";
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path2:before {
  content: "\e90b";
  margin-left: -9.9677734375em;
  color: rgb(255, 203, 11);
}
.icon-mc3-logo .path3:before {
  content: "\e90c";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path4:before {
  content: "\e90d";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path5:before {
  content: "\e90e";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path6:before {
  content: "\e90f";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path7:before {
  content: "\e910";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path8:before {
  content: "\e911";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path9:before {
  content: "\e912";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path10:before {
  content: "\e913";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path11:before {
  content: "\e914";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path12:before {
  content: "\e915";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path13:before {
  content: "\e916";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path14:before {
  content: "\e917";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path15:before {
  content: "\e918";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path16:before {
  content: "\e919";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path17:before {
  content: "\e91a";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path18:before {
  content: "\e91b";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path19:before {
  content: "\e91c";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path20:before {
  content: "\e91d";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path21:before {
  content: "\e91e";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path22:before {
  content: "\e91f";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path23:before {
  content: "\e920";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path24:before {
  content: "\e921";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path25:before {
  content: "\e922";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path26:before {
  content: "\e923";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path27:before {
  content: "\e924";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path28:before {
  content: "\e925";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path29:before {
  content: "\e926";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path30:before {
  content: "\e927";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path31:before {
  content: "\e928";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path32:before {
  content: "\e929";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path33:before {
  content: "\e92a";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path34:before {
  content: "\e92b";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path35:before {
  content: "\e92c";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path36:before {
  content: "\e92d";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path37:before {
  content: "\e92e";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path38:before {
  content: "\e92f";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path39:before {
  content: "\e930";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path40:before {
  content: "\e931";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path41:before {
  content: "\e932";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path42:before {
  content: "\e933";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path43:before {
  content: "\e934";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path44:before {
  content: "\e935";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path45:before {
  content: "\e936";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path46:before {
  content: "\e937";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path47:before {
  content: "\e938";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path48:before {
  content: "\e939";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path49:before {
  content: "\e93a";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path50:before {
  content: "\e93b";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path51:before {
  content: "\e93c";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path52:before {
  content: "\e93d";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path53:before {
  content: "\e93e";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path54:before {
  content: "\e93f";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path55:before {
  content: "\e940";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path56:before {
  content: "\e941";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path57:before {
  content: "\e942";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path58:before {
  content: "\e943";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path59:before {
  content: "\e944";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path60:before {
  content: "\e945";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path61:before {
  content: "\e946";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-logo .path62:before {
  content: "\e947";
  margin-left: -9.9677734375em;
  color: rgb(255, 255, 255);
}
.icon-mc3-word:before {
  content: "\e948";
}

